.wrapper_desktop {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 790px;
  margin: 0 auto;
}

nav {
  width: 100%;
  background-color: #131313;
  height: 83px;
}

.company_name {
  font-family: "FuturaDemiC";
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #E3B873;
}

.phone_number {
  font-family: FuturaDemiC;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul.nav_bar {
  justify-content: space-between;
  width: 581px;
  height: 83px;
}

li {
  font-family: FuturaBookC;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

li.home {
  color: #E3B873;
}

.header_test {
  align-items: stretch;
}

.main_header_content {
  height: 707px;
  width: 94%;
  background: url("./assets/images/Desktop_version/header/image 4.3.png"), rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
}

.sidebar {
  background: #131313;
  height: 707px;
  width: 6%;
  font-family: FuturaDemiC;
  font-size: 14px;
  line-height: 707px;
  text-align: center;
  color: #E3B873;
  align-items: center;
}

.INSTAGRAM {
  transform: rotate(-270deg);
}

.sidebar .line {
  position: absolute;
  top: 500px;
}

.header_test h2 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
}

.header_test .content {
  font-family: FuturaBookC;
  font-size: 22px;
  line-height: 30px;
}

.main_header_content ul {
  flex-direction: column;
  height: 707px;
  align-items: flex-start;
  justify-content: center;
  margin-left: 60px;
}

.main_header_content li + li {
  margin-top: 20px;
  margin-bottom: 40px;
}

.main_header_content span {
  color: #E3B873;
}

.scroll_element ul {
  height: 97px;
  width: 247px;
  background: #131313;
  position: absolute;
  top: 741px;
  justify-content: space-evenly;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  z-index: 10;
}

.main .main-examples {
  width: 100%;
  height: 849px;
  background: #131313;
  display: flex;
  position: relative;
  flex-direction: column;
}

.main-examples__box-content {
  width: 100%;
}

.main .main-examples__content {
  flex-direction: column;
  height: 482px;
  align-items: flex-start;
}
.main .main-examples__content h2 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
}
.main .main-examples__content .main-examples__content-description {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
}

.main .main-examples__slider {
  width: 679px;
  height: 479px;
  background: url("./assets/images/Desktop_version/main/image 2.1.png");
}
.main .main-examples__slider:hover {
  background: url("./assets/images/Desktop_version/main/image 2.png");
}

/*# sourceMappingURL=style.css.map */
